*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Vazirmatn',sans-serif;
background:#f7f2ee;
overflow-x:hidden;
color:#555;
}

#loading{
position:fixed;
width:100%;
height:100vh;
background:#fff;
display:flex;
justify-content:center;
align-items:center;
z-index:999;
}

.loader{
text-align:center;
}

.heart{
font-size:50px;
animation:beat 1s infinite;
}

@keyframes beat{
50%{transform:scale(1.2);}
}

#envelope{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(#f8f2ed,#fdf9f7);
}

.envelope{
width:340px;
height:240px;
background:#efe2d5;
border-radius:12px;
box-shadow:0 20px 40px rgba(0,0,0,.15);
display:flex;
justify-content:center;
align-items:center;
cursor:pointer;
transition:.6s;
}

.envelope:hover{
transform:translateY(-8px);
}

.cover{
text-align:center;
}

.god{
font-family:'Cinzel',serif;
font-size:20px;
color:#b08a63;
margin-bottom:30px;
}

#seal{
width:70px;
height:70px;
border-radius:50%;
background:#d6a3ad;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
font-size:22px;
font-weight:bold;
color:white;
box-shadow:0 8px 18px rgba(0,0,0,.25);
}

#invitation{
display:none;
padding:60px 20px;
}

.container{
max-width:430px;
margin:auto;
background:#fff;
border-radius:25px;
padding:25px;
width:95%;
box-shadow:0 10px 30px rgba(0,0,0,.1);
}
