*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Vazirmatn',sans-serif;
background:#f7f2ee;
overflow-x:hidden;
color:#555;
}

#loading{
position:fixed;
width:100%;
height:100vh;
background:#fff;
display:flex;
justify-content:center;
align-items:center;
z-index:999;
}

.loader{
text-align:center;
}

.heart{
font-size:50px;
animation:beat 1s infinite;
}

@keyframes beat{
50%{transform:scale(1.2);}
}

#envelope{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(#f8f2ed,#fdf9f7);
}

.envelope{
width:340px;
height:240px;
background:#efe2d5;
border-radius:12px;
box-shadow:0 20px 40px rgba(0,0,0,.15);
display:flex;
justify-content:center;
align-items:center;
cursor:pointer;
transition:.6s;
}

.envelope:hover{
transform:translateY(-8px);
}

.cover{
text-align:center;
}

.god{
font-family:'Cinzel',serif;
font-size:20px;
color:#b08a63;
margin-bottom:30px;
}

#seal{
width:70px;
height:70px;
border-radius:50%;
background:#d6a3ad;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
font-size:22px;
font-weight:bold;
color:white;
box-shadow:0 8px 18px rgba(0,0,0,.25);
}

#invitation{
display:none;
padding:60px 20px;
}

.container{
max-width:430px;
margin:auto;
background:#fff;
border-radius:25px;
padding:25px;
width:95%;
box-shadow:0 10px 30px rgba(0,0,0,.1);
}
.photo{
    width:100%;
    text-align:center;
    margin-bottom:25px;
}

.photo img{
    width:100%;
    border-radius:20px;
    display:block;
}

h1{
    text-align:center;
    color:#b08a63;
    font-family:'Cinzel',serif;
    margin-bottom:20px;
}

.invite{
    text-align:center;
    line-height:2;
    margin-bottom:30px;
}

.info{
    display:grid;
    gap:15px;
    margin-bottom:30px;
}

.info div{
    background:#faf6f2;
    padding:15px;
    border-radius:15px;
    text-align:center;
}

#countdown{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    margin:30px 0;
}

#countdown div{
    background:#f7efe7;
    padding:15px;
    border-radius:15px;
    text-align:center;
}

#countdown span{
    font-size:28px;
    color:#b08a63;
    font-weight:bold;
}

.music button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:50px;
    background:#c89d68;
    color:#fff;
    font-size:18px;
    cursor:pointer;
    margin-bottom:20px;
}

.location a{
    display:block;
    text-align:center;
    background:#d8b38c;
    color:#fff;
    text-decoration:none;
    padding:15px;
    border-radius:50px;
}

@media(max-width:500px){

#countdown{
grid-template-columns:repeat(2,1fr);
}

}
